black==21.7b0
flake8==3.7.7
ipdb==0.12
ipython==7.4.0
mccabe==0.6.1
pep8==1.7.1
pylama==7.7.1
pycodestyle==2.5.0
pytest==6.2.4

cryptography==3.4.7
junos-eznc==2.6.2
napalm==3.3.1
netmiko==3.4.0
nornir==3.1.1
paramiko==2.7.2
textfsm==1.1.2
pyats==21.6
genie==21.6
ansible==2.9.24

nornir-netmiko==0.1.1
nornir-utils==0.1.2
nornir-napalm==0.1.2
nornir-ansible==2020.9.26
nornir-netbox
nornir-jinja2
